#statusfilter.filter-dropdown
  .header
    .text status
  .body
    .allnone
      .all select all
      .none clear
    .allcount
      %span.allcountname all status
      %span.count.allcountnumber
    .results
