<p>Hi <strong><%= @user %></strong>,</p>
<p>We've sent you this email because apparently you forgot your password.  Don't worry - we can help!!!  To reset your password, click on this link: <%= link_to "reset password", @link %></p>
<p>Thanks,&nbsp;<%= @domain['name'] + ".com" %></p>
