.grid_12
  .location
    .primary.selectable all locations

.grid_12
  .location
    .primary.selectable united states

.grid_3
  .location
    .primary.selectable alabama
    .selectable auburn
    .selectable birmingham
    .selectable dothan
    .selectable florence / muscle shoals
    .selectable gadsden-anniston
    .selectable huntsville / decatur
    .selectable mobile
    .selectable montgomery
    .selectable tuscaloosa

  .location
    .primary.selectable alaska
    .selectable anchorage / mat-su
    .selectable fairbanks
    .selectable kenai peninsula
    .selectable southeast alaska

  .location
    .primary.selectable arizona
    .selectable flagstaff / sedona
    .selectable mohave county
    .selectable phoenix
    .selectable prescott
    .selectable show low
    .selectable sierra vista
    .selectable tucson
    .selectable yuma

  .location
    .primary.selectable arkansas
    .selectable fayetteville
    .selectable fort smith
    .selectable jonesboro
    .selectable little rock
    .selectable texarkana

  .location
    .primary.selectable california
    .selectable bakersfield
    .selectable chico
    .selectable fresno / madera
    .selectable gold country
    .selectable hanford-corcoran
    .selectable humboldt county
    .selectable imperial county
    .selectable inland empire
    .selectable los angeles
    .selectable mendocino county
    .selectable merced
    .selectable modesto
    .selectable monterey bay
    .selectable orange county
    .selectable palm springs
    .selectable redding
    .selectable sacramento
    .selectable san diego
    .selectable san francisco bay area
    .selectable san luis obispo
    .selectable santa barbara
    .selectable santa maria
    .selectable siskiyou county
    .selectable stockton
    .selectable susanville
    .selectable ventura county
    .selectable visalia-tulare
    .selectable yuba-sutter

  .location
    .primary.selectable colorado
    .selectable boulder
    .selectable colorado springs
    .selectable denver
    .selectable eastern CO
    .selectable fort collins / north CO
    .selectable high rockies
    .selectable pueblo
    .selectable western slope

  .location
    .primary.selectable connecticut
    .selectable eastern CT
    .selectable hartford
    .selectable new haven
    .selectable northwest CT

  .location
    .primary.selectable delaware

  .location
    .primary.selectable district of columbia

  .location
    .primary.selectable florida
    .selectable daytona beach
    .selectable florida keys
    .selectable fort lauderdale
    .selectable ft myers / SW florida
    .selectable gainesville
    .selectable heartland florida
    .selectable jacksonville
    .selectable lakeland
    .selectable north central FL
    .selectable ocala
    .selectable okaloosa / walton
    .selectable orlando
    .selectable panama city
    .selectable pensacola
    .selectable sarasota-bradenton
    .selectable south florida
    .selectable space coast
    .selectable st augustine
    .selectable tallahassee
    .selectable tampa bay area
    .selectable treasure coast

  .location
    .primary.selectable georgia
    .selectable albany
    .selectable athens
    .selectable atlanta
    .selectable augusta
    .selectable brunswick
    .selectable columbus
    .selectable macon / warner robins
    .selectable northwest GA
    .selectable savannah / hinesville
    .selectable statesboro
    .selectable valdosta

  .location
    .primary.selectable hawaii

.grid_3
  .location
    .primary.selectable idaho
    .selectable boise
    .selectable east idaho
    .selectable lewiston / clarkston
    .selectable twin falls

  .location
    .primary.selectable illinois
    .selectable bloomington-normal
    .selectable champaign urbana
    .selectable chicago
    .selectable decatur
    .selectable la salle co
    .selectable mattoon-charleston
    .selectable peoria
    .selectable rockford
    .selectable southern illinois
    .selectable springfield
    .selectable western IL

  .location
    .primary.selectable indiana
    .selectable bloomington
    .selectable evansville
    .selectable fort wayne
    .selectable indianapolis
    .selectable kokomo
    .selectable lafayette / west lafayette
    .selectable muncie / anderson
    .selectable richmond
    .selectable south bend / michiana
    .selectable terre haute

  .location
    .primary.selectable iowa
    .selectable ames
    .selectable cedar rapids
    .selectable des moines
    .selectable dubuque
    .selectable fort dodge
    .selectable iowa city
    .selectable mason city
    .selectable quad cities
    .selectable sioux city
    .selectable southeast IA
    .selectable waterloo / cedar falls

  .location
    .primary.selectable kansas
    .selectable lawrence
    .selectable manhattan
    .selectable northwest KS
    .selectable salina
    .selectable southeast KS
    .selectable southwest KS
    .selectable topeka
    .selectable wichita

  .location
    .primary.selectable kentucky
    .selectable bowling green
    .selectable eastern kentucky
    .selectable lexington
    .selectable louisville
    .selectable owensboro
    .selectable western KY

  .location
    .primary.selectable louisiana
    .selectable baton rouge
    .selectable central louisiana
    .selectable houma
    .selectable lafayette
    .selectable lake charles
    .selectable monroe
    .selectable new orleans
    .selectable shreveport

  .location
    .primary.selectable maine

  .location
    .primary.selectable maryland
    .selectable annapolis
    .selectable baltimore
    .selectable eastern shore
    .selectable frederick
    .selectable southern maryland
    .selectable western maryland

  .location
    .primary.selectable massachusetts
    .selectable boston
    .selectable cape cod / islands
    .selectable south coast
    .selectable western massachusetts
    .selectable worcester / central MA

  .location
    .primary.selectable michigan
    .selectable ann arbor
    .selectable battle creek
    .selectable central michigan
    .selectable detroit metro
    .selectable flint
    .selectable grand rapids
    .selectable holland
    .selectable jackson
    .selectable kalamazoo
    .selectable lansing
    .selectable monroe
    .selectable muskegon
    .selectable northern michigan
    .selectable port huron
    .selectable saginaw-midland-baycity
    .selectable southwest michigan
    .selectable the thumb
    .selectable upper peninsula

  .location
    .primary.selectable minnesota
    .selectable bemidji
    .selectable brainerd
    .selectable duluth / superior
    .selectable mankato
    .selectable minneapolis / st paul
    .selectable rochester
    .selectable southwest MN
    .selectable st cloud

  .location
    .primary.selectable mississippi
    .selectable gulfport / biloxi
    .selectable hattiesburg
    .selectable jackson
    .selectable meridian
    .selectable north mississippi
    .selectable southwest MS

.grid_3
  .location
    .primary.selectable missouri
    .selectable columbia / jeff city
    .selectable joplin
    .selectable kansas city
    .selectable kirksville
    .selectable lake of the ozarks
    .selectable southeast missouri
    .selectable springfield
    .selectable st joseph
    .selectable st louis

  .location
    .primary.selectable montana
    .selectable billings
    .selectable bozeman
    .selectable butte
    .selectable great falls
    .selectable helena
    .selectable kalispell
    .selectable missoula
    .selectable montana (old)

  .location
    .primary.selectable nebraska
    .selectable grand island
    .selectable lincoln
    .selectable north platte
    .selectable omaha / council bluffs
    .selectable scottsbluff / panhandle

  .location
    .primary.selectable nevada
    .selectable elko
    .selectable las vegas
    .selectable reno / tahoe

  .location
    .primary.selectable new hampshire

  .location
    .primary.selectable new jersey
    .selectable central NJ
    .selectable jersey shore
    .selectable north jersey
    .selectable south jersey

  .location
    .primary.selectable new mexico
    .selectable albuquerque
    .selectable clovis / portales
    .selectable farmington
    .selectable las cruces
    .selectable roswell / carlsbad
    .selectable santa fe / taos

  .location
    .primary.selectable new york
    .selectable albany
    .selectable binghamton
    .selectable buffalo
    .selectable catskills
    .selectable chautauqua
    .selectable elmira-corning
    .selectable finger lakes
    .selectable glens falls
    .selectable hudson valley
    .selectable ithaca
    .selectable long island
    .selectable new york city
    .selectable oneonta
    .selectable plattsburgh-adirondacks
    .selectable potsdam-canton-massena
    .selectable rochester
    .selectable syracuse
    .selectable twin tiers NY/PA
    .selectable utica-rome-oneida
    .selectable watertown

  .location
    .primary.selectable north carolina
    .selectable asheville
    .selectable boone
    .selectable charlotte
    .selectable eastern NC
    .selectable fayetteville
    .selectable greensboro
    .selectable hickory / lenoir
    .selectable jacksonville
    .selectable outer banks
    .selectable raleigh / durham / CH
    .selectable wilmington
    .selectable winston-salem

  .location
    .primary.selectable north dakota
    .selectable bismarck
    .selectable fargo / moorhead
    .selectable grand forks
    .selectable north dakota

  .location
    .primary.selectable ohio
    .selectable akron / canton
    .selectable ashtabula
    .selectable athens
    .selectable chillicothe
    .selectable cincinnati
    .selectable cleveland
    .selectable columbus
    .selectable dayton / springfield
    .selectable lima / findlay
    .selectable mansfield
    .selectable sandusky
    .selectable toledo
    .selectable tuscarawas co
    .selectable youngstown
    .selectable zanesville / cambridge

  .location
    .primary.selectable oklahoma
    .selectable lawton
    .selectable northwest OK
    .selectable oklahoma city
    .selectable stillwater
    .selectable tulsa

  .location
    .primary.selectable oregon
    .selectable bend
    .selectable corvallis/albany
    .selectable east oregon
    .selectable eugene
    .selectable klamath falls
    .selectable medford-ashland
    .selectable oregon coast
    .selectable portland
    .selectable roseburg
    .selectable salem

.grid_3
  .location
    .primary.selectable pennsylvania
    .selectable altoona-johnstown
    .selectable cumberland valley
    .selectable erie
    .selectable harrisburg
    .selectable lancaster
    .selectable lehigh valley
    .selectable meadville
    .selectable philadelphia
    .selectable pittsburgh
    .selectable poconos
    .selectable reading
    .selectable scranton / wilkes-barre
    .selectable state college
    .selectable williamsport
    .selectable york

  .location
    .primary.selectable rhode island

  .location
    .primary.selectable south carolina
    .selectable charleston
    .selectable columbia
    .selectable florence
    .selectable greenville / upstate
    .selectable hilton head
    .selectable myrtle beach

  .location
    .primary.selectable south dakota
    .selectable northeast SD
    .selectable pierre / central SD
    .selectable rapid city / west SD
    .selectable sioux falls / SE SD
    .selectable south dakota

  .location
    .primary.selectable tennessee
    .selectable chattanooga
    .selectable clarksville
    .selectable cookeville
    .selectable jackson
    .selectable knoxville
    .selectable memphis
    .selectable nashville
    .selectable tri-cities

  .location
    .primary.selectable texas
    .selectable abilene
    .selectable amarillo
    .selectable austin
    .selectable beaumont / port arthur
    .selectable brownsville
    .selectable college station
    .selectable corpus christi
    .selectable dallas / fort worth
    .selectable deep east texas
    .selectable del rio / eagle pass
    .selectable el paso
    .selectable galveston
    .selectable houston
    .selectable killeen / temple / ft hood
    .selectable laredo
    .selectable lubbock
    .selectable mcallen / edinburg
    .selectable odessa / midland
    .selectable san angelo
    .selectable san antonio
    .selectable san marcos
    .selectable southwest TX
    .selectable texoma
    .selectable tyler / east TX
    .selectable victoria
    .selectable waco
    .selectable wichita falls

  .location
    .primary.selectable utah
    .selectable logan
    .selectable ogden-clearfield
    .selectable provo / orem
    .selectable salt lake city
    .selectable st george

  .location
    .primary.selectable vermont

  .location
    .primary.selectable virginia
    .selectable charlottesville
    .selectable danville
    .selectable fredericksburg
    .selectable hampton roads
    .selectable harrisonburg
    .selectable lynchburg
    .selectable new river valley
    .selectable richmond
    .selectable roanoke
    .selectable southwest VA
    .selectable winchester

  .location
    .primary.selectable washington
    .selectable bellingham
    .selectable kennewick-pasco-richland
    .selectable moses lake
    .selectable olympic peninsula
    .selectable pullman / moscow
    .selectable seattle-tacoma
    .selectable skagit / island / SJI
    .selectable spokane / coeur d'alene
    .selectable wenatchee
    .selectable yakima

  .location
    .primary.selectable west virginia
    .selectable charleston
    .selectable eastern panhandle
    .selectable huntington-ashland
    .selectable morgantown
    .selectable northern panhandle
    .selectable parkersburg-marietta
    .selectable southern WV
    .selectable west virginia (old)

  .location
    .primary.selectable wisconsin
    .selectable appleton-oshkosh-FDL
    .selectable eau claire
    .selectable green bay
    .selectable janesville
    .selectable kenosha-racine
    .selectable la crosse
    .selectable madison
    .selectable milwaukee
    .selectable northern WI
    .selectable sheboygan
    .selectable wausau

  .location
    .primary.selectable wyoming

.grid_12
  .location
    .primary.selectable canada

.grid_3
  .location
    .primary.selectable alberta
    .selectable calgary
    .selectable edmonton
    .selectable ft mcmurray
    .selectable lethbridge
    .selectable medicine hat
    .selectable peace river country
    .selectable red deer

  .location
    .primary.selectable british columbia
    .selectable cariboo
    .selectable comox valley
    .selectable fraser valley
    .selectable kamloops
    .selectable kelowna / okanagan
    .selectable kootenays
    .selectable nanaimo
    .selectable prince george
    .selectable skeena-bulkley
    .selectable sunshine coast
    .selectable vancouver
    .selectable victoria
    .selectable whistler

.grid_3
  .location
    .primary.selectable manitoba
    .selectable winnipeg

  .location
    .primary.selectable new brunswick

  .location
    .primary.selectable newfoundland and labrador

  .location
    .primary.selectable northwest territories
    .selectable territories
    .selectable yellowknife

  .location
    .primary.selectable nova scotia

.grid_3
  .location
    .primary.selectable ontario
    .selectable barrie
    .selectable belleville
    .selectable brantford-woodstock
    .selectable chatham-kent
    .selectable cornwall
    .selectable guelph
    .selectable hamilton-burlington
    .selectable kingston
    .selectable kitchener-waterloo-cambridge
    .selectable london
    .selectable niagara region
    .selectable ottawa-hull-gatineau
    .selectable owen sound
    .selectable peterborough
    .selectable sarnia
    .selectable sault ste marie
    .selectable sudbury
    .selectable thunder bay
    .selectable toronto
    .selectable windsor

.grid_3
  .location
    .primary.selectable prince edward island

  .location
    .primary.selectable quebec
    .selectable montreal
    .selectable quebec city
    .selectable saguenay
    .selectable sherbrooke
    .selectable trois-rivieres

  .location
    .primary.selectable saskatchewan
    .selectable regina
    .selectable saskatoon

  .location
    .primary.selectable yukon territory
