.grid_12
  .primary.selectable all categories

.grid_4
  .category
    .primary.selectable community
    .grid_2.alpha
      .selectable activities
      .selectable artists
      .selectable childcare
      .selectable general
      .selectable groups
      .selectable pets
      .selectable events
    .grid_2.omega
      .selectable lost+found
      .selectable musicians
      .selectable local news
      .selectable politics
      .selectable rideshare
      .selectable volunteers
      .selectable classes

  .clear

  .category
    .primary.selectable personals
    .selectable strictly platonic
    .selectable women seek women
    .selectable women seeking men
    .selectable men seeking women
    .selectable men seeking men
    .selectable misc romance
    .selectable casual encounters
    .selectable missed connections
    .selectable rants and raves

  .category
    .primary.selectable services
    .grid_2.alpha
      .selectable beauty
      .selectable creative
      .selectable computer
      .selectable cycle
      .selectable event
      .selectable financial
      .selectable legal
      .selectable lessons
      .selectable marine
      .selectable pet
    .grid_2.omega
      .selectable automotive
      .selectable farm+garden
      .selectable household
      .selectable labor/move
      .selectable skill'd trade
      .selectable real estate
      .selectable sm biz ads
      .selectable therapeutic
      .selectable travel/vac
      .selectable write/ed/tr8

  .clear

.grid_4
  .category
    .primary.selectable housing
    .selectable apts / housing
    .selectable rooms / shared
    .selectable sublets / temporary
    .selectable housing wanted
    .selectable housing swap
    .selectable vacation rentals
    .selectable parking / storage
    .selectable office / commercial
    .selectable real estate for sale

  .category
    .primary.selectable for sale
    .grid_2.alpha
      .selectable appliances
      .selectable antiques
      .selectable barter
      .selectable bikes
      .selectable boats
      .selectable books
      .selectable business
      .selectable computer
      .selectable free
      .selectable furniture
      .selectable general
      .selectable jewelry
      .selectable materials
      .selectable rvs
      .selectable sporting
      .selectable tickets
      .selectable tools
      .selectable wanted
    .grid_2.omega
      .selectable arts+crafts
      .selectable auto parts
      .selectable baby+kids
      .selectable beauty+hlth
      .selectable cars+trucks
      .selectable cds/dvd/vhs
      .selectable cell phones
      .selectable clothes+acc
      .selectable collectibles
      .selectable electronics
      .selectable farm+garden
      .selectable garage sale
      .selectable household
      .selectable motorcycles
      .selectable music instr
      .selectable photo+video
      .selectable toys+games
      .selectable video gaming

  .clear

  .category
    .primary.selectable gigs
    .grid_2.alpha
      .selectable crew
      .selectable event
      .selectable labor
      .selectable talent
    .grid_2.omega
      .selectable computer
      .selectable creative
      .selectable domestic
      .selectable writing

  .clear

.grid_4
  .category
    .primary.selectable jobs
    .selectable accounting+finance
    .selectable admin / office
    .selectable arch / engineering
    .selectable art / media / design
    .selectable biotech / science
    .selectable business / mgmt
    .selectable customer service
    .selectable education
    .selectable food / bev / hosp
    .selectable general labor
    .selectable government
    .selectable human resources
    .selectable internet engineers
    .selectable legal / paralegal
    .selectable manufacturing
    .selectable marketing / pr / ad
    .selectable medical / health
    .selectable nonprofit sector
    .selectable real estate
    .selectable retail / wholesale
    .selectable sales / biz dev
    .selectable salon / spa / fitness
    .selectable security
    .selectable skilled trade / craft
    .selectable software / qa / dba
    .selectable systems / network
    .selectable technical support
    .selectable transport
    .selectable tv / film / video
    .selectable web / info design
    .selectable writing / editing
    .selectable [ETC]
    .selectable [ part-time ]

  .category
    .primary.selectable resumes
