#cats.wrapper
  .cat
    .clickable all categories
    .code all
  - @cats.each do |cat|
    .cat
      .clickable= cat.name
      .code= cat.code
      .subcats
        - cat.subcats.asc.each do |subcat|
          .subcat
            .clickable= subcat.name
            .code= subcat.code
