%ul.dropdown-menu{:role => "menu"}
  %li.first_category{"data-submenu-id" => "all_categories_submenu"}
    .primary.selectable All Categories
    #all_categories_submenu.popover{style: 'display:none;'}
  %li{"data-submenu-id" => "for_sale_submenu"}
    .primary.selectable{data: "SSSS"} For Sale 
    #for_sale_submenu.popover{style: 'display:none; width: 256px;'}
      .category_column_left{style: 'float:left'}
        .selectable Antiques
        .selectable Apparel
        .selectable Appliances
        .selectable Art & Crafts
        .selectable Babies & Kids
        .selectable Barters
        .selectable Bicycles
        .selectable Businesses
        .selectable Collections
        .selectable Educational
        .selectable Electronics & Photo
        .selectable Food & Beverage
        .selectable Furniture
        .selectable Garage Sales
        .selectable Gift Cards
      .category_column_right{style: 'float:left'} 
        .selectable Health & Beauty
        .selectable Home & Garden
        .selectable Industrial
        .selectable Jewelry
        .selectable Literature
        .selectable Movies & Music
        .selectable Musical Instruments
        .selectable Restaurants
        .selectable Sports & Fitness
        .selectable Tickets
        .selectable Tools
        .selectable Toys & Hobbies
        .selectable Travel
        .selectable Wanted
        .selectable Other
  %li{"data-submenu-id" => "vehicles_submenu"}
    .primary.selectable{data: "VVVV"} Vehicles
    #vehicles_submenu.popover{style: 'display:none;'}
      .selectable Autos
      .selectable Parts
      .selectable Other
  %li{"data-submenu-id" => "jobs_submenu"}
    .primary.selectable{data: "JJJJ"} Jobs  
    #jobs_submenu.popover{style: 'display:none; width:710px; max-width:710px;'}
      .category_column_left{style: 'float:left'}
        .selectable Accounting
        .selectable Administrative
        .selectable Aerospace & Defense
        .selectable Analyst
        .selectable Animals & Agriculture
        .selectable Architecture
        .selectable Art
        .selectable Automobile
        .selectable Beauty
        .selectable Business Development
        .selectable Computer & Web
        .selectable Construction & Facilities
        .selectable Consulting
        .selectable Customer Service
        .selectable Design
        .selectable Education
        .selectable Energy
        .selectable Engineering
      .category_column_middle{style: 'float:left'}  
        .selectable Entertainment & Media
        .selectable Events
        .selectable Finance
        .selectable Food & Beverage
        .selectable Gigs
        .selectable Government
        .selectable Healthcare
        .selectable Hospitality & Travel
        .selectable Human Resources
        .selectable Installation, Maintenance & Repair
        .selectable Insurance
        .selectable International
        .selectable Law Enforcement
        .selectable Legal
        .selectable Management & Directorship
        .selectable Manufacturing & Mechanical
        .selectable Marketing, Advertising & Public Relations
        .selectable Non-Profit
      .category_column_right{style: 'float:left'}  
        .selectable Operations & Logistics
        .selectable Pharmaceutical
        .selectable Product, Project & Program Management
        .selectable Purchasing
        .selectable Quality Assurance
        .selectable Real Estate
        .selectable Recreation
        .selectable Resumes
        .selectable Retail & Wholesale
        .selectable Sales
        .selectable Science
        .selectable Security
        .selectable Skilled Trade & General Labor
        .selectable Telecommunications
        .selectable Transportation
        .selectable Volunteer
        .selectable Writing & Publishing
        .selectable Other
  %li{"data-submenu-id" => "real_estate_submenu"}
    .primary.selectable{data: "RRRR"} Real Estate 
    .more_menu_results see more...
    #real_estate_submenu.popover{style: 'display:none;'}
      .selectable Commercial Real Estate
      .selectable Housing For Rent
      .selectable Housing For Sale
      .selectable Housing Sublets
      .selectable Housing Swaps
      .selectable Lots & Land
      .selectable Parking & Storage
      .selectable Room Shares
      .selectable Vacation Properties
      .selectable Want Housing
      .selectable Other
  #additional_categories_for_menu{style: 'display:none;'}      
    %li{"data-submenu-id" => "animals_submenu"}
      .primary.selectable{data: "AAAA"} Animals  
      #animals_submenu.popover{style: 'display:none;'}
        .selectable Pets
        .selectable Supplies
        .selectable Other
    %li{"data-submenu-id" => "services_submenu"}
      .primary.selectable{data: "SVCS"} Services  
      #services_submenu.popover{style: 'display:none;'}
        .selectable Creative
        .selectable Education
        .selectable Financial
        .selectable Health
        .selectable Household
        .selectable Professional
        .selectable Other
    %li{"data-submenu-id" => "community_submenu"}
      .primary.selectable{data: "CCCC"} Community  
      #community_submenu.popover{style: 'display:none;'}
        .selectable Classes & Workshops
        .selectable Events
        .selectable Groups
        .selectable Lost & Found
        .selectable Rideshares
        .selectable Volunteers
        .selectable Other
    %li{"data-submenu-id" => "personals_submenu"}
      .primary.selectable{data: "PPPP"} Personals  
      #personals_submenu.popover{style: 'display:none;'}
        .selectable Men Seeking Men
        .selectable Men Seeking Women
        .selectable Women Seeking Men
        .selectable Women Seeking Women
        .selectable Other
    %li{"data-submenu-id" => "mature_submenu"}
      .primary.selectable Mature  
      #mature_submenu.popover{style: 'display:none;'}
        .selectable Escorts
        .selectable Fetish
        .selectable Jobs
        .selectable Massage
        .selectable Phone & Websites
        .selectable Strippers
        .selectable Other
    %li{"data-submenu-id" => "dispatch_submenu"}
      .primary.selectable Dispatch  
      #dispatch_submenu.popover{style: 'display:none;'}
        .selectable Delivery
        .selectable Dispatch
        .selectable Taxi
        .selectable Tow
    %li{"data-submenu-id" => "uncategorize_submenu"}
      .primary.selectable Uncategorized  
      .less_menu_results see less...
      #uncategorize_submenu.popover{style: 'display:none;'}
        .selectable Other
