- content_for :title do
  FAQ

#faq
  .qa
    %h2.q
      .label Q:
      Why did you build craiggers when Craigslist already exists?
    .a
      .label A:
      craiggers was built by people who love Craigslist but wanted to be able to search the data in ways that aren't supported by Craigslist. craiggers was originally conceived as a site that would enable searching all categories and locations at once, as well as supporting saved searches and favorite-ing postings.

  .qa
    %h2.q
      .label Q:
      I really like the "local community" aspect of Craigslist. Why would anyone want to search outside their immediate area?
    .a
      .label A:
      craiggers understands the local/social component of Craigslist, but we also think there are cases when searching outside your immediate community benefits both seekers and providers. For example:

      .indent - You're looking to adopt a dog. craiggers can show you all the available rescued dogs in your home state, not just your local region. The dog in most urgent need of adoption might not be in your community.

      .indent - Your bike was stolen and you're looking to find it posted for sale. It's unlikely that the thief will try to sell it in the community where it was stolen, but it might very well be listed in a neighboring state or region. Setting up a saved search that persistently searches for the unique characteristics of my stolen bike across locations, I can increase the chances of recovering it.

      .indent - I'm looking for something very rare. craiggers can help you connect with other people who share your passion or interests but live across the country. You can build a community around interests, not just location.

      .indent - I travel a lot and use Craigslist from the road. It would be great if I could plan my travels around the things I'm searching for nationally.

  .qa
    %h2.q
      .label Q:
      I'm only searching in a single category, but why does craiggers show me a list of matches in all the other categories?
    .a
      .label A:
      If you're searching for a unique vintage guitar in the "for sale" category, it might also be interesting to know that your search for "vintage guitar" matched a number of postings for sale, but also turned up a "vintage guitar show" in the community calendar. craiggers shows the list of category and neighboring matches as an optional but potentially interesting view of your original search results.

  .qa
    %h2.q
      .label Q:
      Why would I "save" a search?
    .a
      .label A:
      Some people search for the same thing again and again. Whether it's a job, an apartment for rent, or something for sale, your search may include very specific parameters or search criteria. When you save a search, you can quickly and easily re-run a search and view the updated results. In addition, if you save a search, craiggers can automatically send you email notifications when new matches are found so you won't miss out when the perfect match is found.

  .qa
    %h2.q
      .label Q:
      Can I set-up notifications?
    .a
      .label A:
      Yes. If you'd like to be notified – either by email or SMS – you can set-up notifications by clicking the “save/notify” button. The search criteria will be saved and you will be alerted every time we discover a new, matching posting.

  .qa
    %h2.q
      .label Q:
      Why does craiggers only send 2 emails a day when I sign up for email notifications?
    .a
      .label A:
      When you sign up for email notifications, craiggers batches up to 100 new matches for your search and emails you twice a day with links to the new matches. If your search yields a lot of results and craiggers emailed you each one separately, you'd confuse those emails with spam! If you're searching for something that's popular, save your search and keep checking craiggers regularly to see if your search yields updates.

  .qa
    %h2.q
      .label Q:
      Can I share my "favorite" postings with a friend?
    .a
      .label A:
      You can email any posting to a friend. Your favorites list is just an easy way to identify all the postings that are interesting to you, without having to email them to yourself like you do in Craigslist! You can also email saved searches to a friend so that they can run your search on their own computer.

  .qa
    %h2.q
      .label Q:
      Why should I sign up?
    .a
      .label A:
      If you choose to sign up, your user sessions will be remembered across devices and across browsers. If you save searches or favorites postings, those items will be remembered the next time you sign in. In addition, we're close to rolling out a new iPhone app. Once that hits the market, user sessions will carry over to your mobile phone as well.

  .qa
    %h2.q
      .label Q:
      How come I can't sign in with my twitter / facebook / google account anymore?
    .a
      .label A:
      We believe twitter and facebook are meaningful for validating who you are. In our next product iteration, we will be rolling out tool for supporting real-time conversations. By attaching twitter / facebook / linked in / google social identities to your username, other craiggers users can gain a better picture of who you are. Rather than limit users to one social identity, our new username system supports a more robust profile.

