- content_for :title do
  Help

#help
  .block
    %h2.header Searching

    %ul
      %li.el 1. Use craiggers the same way you use Craigslist - enter search terms and optionally specify category and/or location.
      %li.el 2. A full list of categories and locations is available by clicking the triangles in the respective fields. Unlike Craigslist, craiggers supports searching across "all categories" and nationally (ie: United States and Canada) or state by state (ex: California, New York, etc).
      %li.el 3. Use the "find your location" link to auto-detect your current location.

  .block
    %h2.header Viewing Results

    %ul
      %li.el 1. Search results are shown 50 at a time. To see more results, click the "next 50 results" link at the bottom of the list.
      %li.el 2. The sort order is, by default, newest to oldest. Expand the "filter" bar to see additional sort options.
      %li.el 3. Expand the "category" bar to see the number of results for relevant categories. Searches can be further filtered by specifying checkboxes and clicking the search button. Alternatively, click a link to a particular category to limit results to only those in that category.
      %li.el 4. Same behavior for the "location" bar.
      %li.el 5. Expand the "filter" bar to specify search settings such as: title only, has picture, etc.

  .block
    %h2.header Details

    %ul
      %li.el 1. To view the details of a posting, click on an item in the results list and a detailed view of the posting, including description and images, slides out to the right.
      %li.el 2. Below the typical timestamp and email address information, craiggers offers clickable tags for filtering. Click a tag and filter results immediately.
      %li.el 3. If there are multiple images for a posting they appear as thumbnails below a larger image. Click the thumbnails to view the additional images.
      %li.el 4. To share a posting, click the "share" link in the upper left hand corner of the posting.
    .el
      5. Learn more about Creative Commons Public Domain Mark here:
      = link_to 'http://creativecommons.org/publicdomain/mark/1.0/', 'http://creativecommons.org/publicdomain/mark/1.0/'

  .block
    %h2.header Favorites

    %ul
      %li.el 1. Highlight individual postings as favorites by clicking the star icon – star icons are available both in the list of results as well as in the posting. To unfavorite a posting, click the yellow star and it will change to grey.
      %li.el 2. To view the list of favorites, click on the " favorites" link at the top of the page.

  .block
    %h2.header Saved searches

    %ul
      %li.el 1. To save search details (including search terms, location and category, and any other search filters), click the "save/notify" button.
      %li.el 2. To view saved searches, click the "saved searches" tab to the left of the search bar.
      %li.el 3. Use the saved searches list to manage your saved searches.

  .block
    %h2.header Signing In

    %ul
      %li.el 1. There's no need to sign up to use craiggers, but by signing up and subsequently signing in, saved searches and favorites will be remembered. Otherwise, saved searches and favorites expire when you close the page.
      %li.el 2. Signing in also enables turning on or off the "safe search" setting. Change this setting by clicking your username to see a menu of account-specific options.
