- content_for :title do
  Mobile

#mobile
  .grid_8.left
    .text
      Craiggers mobile is a super simple Craigslist viewer for your iPhone. Unlike the Craigslist website, Craiggers lets you search across multiple locations at once, save your search criteria, and favorite listings.
    .text
      We'll be adding new features in subsequent releases, so we'd love to hear your ideas 
      %a{ :href => ':mailto:craiggersfeedback@gmail.com' } craiggersfeedback@gmail.com
    
    .appstore= image_tag 'appstore.png'

  .grid_8
    .phone= image_tag 'phone.png'
