- content_for :title do 
  Privacy

#privacy
  .text 
    Craiggers is powered by 3taps.  Please refer to the 3taps privacy policy  available&nbsp;
    %a{ :href => 'http://3taps.com/privacy' }> here
    \.
