- content_for :title do
  Terms of Service

#terms 
  %p.header Terms of Service

  %p Craiggers is a service provided by 3taps Inc. ("3taps").  Your access to and use of the Services is conditioned on your acceptance of and compliance with these Terms.  We welcome your questions and comments on this document:   support@craiggers.com

  <p>1.	<span class="u">Binding Contract</span>.</p>

  %p 1.1	By accessing or using the Services you agree to be bound by these Terms of Service ("Terms"), which govern your access to and use of the Craiggers website and mobile application (the "Services"), and any information, text, graphics, or other materials uploaded, downloaded or appearing on the Services (collectively referred to as "Content"). 

  %p 1.2	You may use the Services only if you can form a binding contract with 3taps and are not a person barred from receiving the Services under the laws of the United States or other applicable jurisdiction. You may use the Services only in compliance with these Terms.

  %p 1.3	We reserve the right, at our sole discretion, to change, modify or otherwise alter these Terms at any time.  Such modifications shall become effective immediately upon the posting thereof.

  %p 1.4	You acknowledge and agree that 3taps may at any time, in its sole discretion, terminate the Services and/or disable your access to the Services.  

  <p>2.	<span class="u">The Services</span>.</p>

  %p 2.1	The Services that 3taps provides are always evolving and the form and nature of the Services that 3taps provides may change from time to time without prior notice to you. In addition, 3taps may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.

  %p 2.2	The Services may include advertisements, which may be targeted to the Content or information on the Services, queries made through the Services, or other information. The types and extent of advertising by 3taps on the Services are subject to change. In consideration for 3taps granting you access to and use of the Services, you agree that 3taps and its third party providers and partners may place such advertising in connection with the display of Content submitted by you.

  %p 2.3	The Craiggers site and Content available through the Service may contain features and functionalities that may link you or provide you with access to third party content which is completely independent of 3taps, including web sites, directories, servers, networks, systems, information and databases, applications, software, programs, products or services, and the Internet as a whole.  Your interactions with organizations and/or individuals found on or through the Service, including payment and delivery of goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such organizations and/or individuals.  You should make whatever investigation you feel necessary or appropriate before proceeding with any online or offline transaction with any of these third parties.

  <p>3.	<span class="u">Use of the Services By You</span>.</p> 

  %p 3.1	You agree to use the Services only for purposes that are permitted by (a) the Terms and (b) any applicable law, regulation or generally accepted practices or guidelines in the United States and the country in which you are resident or from which you use the Services. 

  %p 3.2	You agree and understand that you are responsible for maintaining the confidentiality of passwords associated with any account you use to access the Services.   Accordingly, you agree that you will be solely responsible to 3taps for all activities that occur under your account.  

  %p 3.3 	You agree that you will not engage in any activity that interferes with or disrupts the Services (or the servers and networks which are connected to the Services). You may not do any of the following while accessing or using the Services: (i) access, tamper with, or use non-public areas of the Services, 3taps's computer systems, or the technical delivery systems of 3taps's providers; (ii) probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; (iii) access or search or attempt to access or search the Services by any means (automated or otherwise) other than through our currently available, published interfaces that are provided by 3taps (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with 3taps; (iv) forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Services to send altered, deceptive or false source-identifying information; or (v) interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Services, or by scripting the creation of Content in such a manner as to interfere with or create an undue burden on the Services.

  %p 3.4 	You agree that you are solely responsible for (and that 3taps has no responsibility to you or to any third party for) any breach of your obligations under the Terms and for the consequences (including any loss or damage which 3taps may suffer) of any such breach.

  %p 3.5	You agree that 3taps shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings with other users of the Services or third parties accessed through 3taps site or Services. If there is a dispute between participants on this site, or between users and any third party, you understand and agree that 3taps is under no obligation to become involved. In the event that you have a dispute with one or more other users, you hereby release 3taps, its officers, employees, agents and successors in rights from claims, demands and damages (actual and consequential) of every kind or nature, known or unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way related to such disputes and / or our service. If you are a California resident, you waive California Civil Code Section 1542, which says: "A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor."  

  %p 3.6	You agree to indemnify and hold 3taps, its officers, subsidiaries, affiliates, successors, assigns, directors, officers, agents, service providers, suppliers and employees, harmless from any claim or demand, including reasonable attorney fees and court costs, made by any third party due to or arising out of Content you submit, post or make available through the Service, your use of the Service, your violation of the TOU, your breach of any of the representations and warranties herein, or your violation of any rights of another.

  <p>4.	<span class="u">Content on the Services</span></p>

  %p 4.1	All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. 3taps may not monitor or control the Content posted via the Services and cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk.

  %p 4.2	3taps does not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services. You understand that by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will 3taps be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Services or broadcast elsewhere.

  %p 4.3	3taps reserves the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Services.   3taps also reserves the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of 3taps, its users and the public.

  <p>5.	<span class="u">Proprietary Rights</span></p>

  %p 5.1 	You acknowledge and agree that 3taps (or 3taps's licensors) own all legal right, title and interest in and to the Services (other than Content provided by users), including any intellectual property rights which subsist in the Services (whether those rights happen to be registered or not, and wherever in the world those rights may exist).  3taps hereby grants you a limited, revocable, nonexclusive license to access the Service for your own personal use.  This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by 3taps, in the manner permitted by these Terms.

  %p 5.2	Nothing in the Terms gives you a right to use the 3taps name or any of the 3taps trademarks, logos, domain names, and other distinctive brand features.  You agree that you will not remove, obscure, or alter any proprietary rights notices (including copyright and trade mark notices) which may be affixed to or contained within the Services.

  <p>6.	<span class="u">Notification of Claims of Infringement</span></p>

  %p 6.1	It is 3taps's policy to respond to notices of alleged copyright infringement that comply with applicable international intellectual property law (including, in the United States, the Digital Millennium Copyright Act) and to terminating the accounts of repeat infringers.

  %p 6.2	If you believe that your Content has been copied in a way that constitutes copyright infringement, please provide us with the following information: (i) a physical or electronic signature of the copyright owner or a person authorized to act on their behalf; (ii) identification of the copyrighted work claimed to have been infringed; (iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material; (iv) your contact information, including your address, telephone number, and an email address; (v) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (vi) a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.

  %p 6.3	We reserve the right to remove Content alleged to be infringing without prior notice and at our sole discretion. In appropriate circumstances, 3taps will also terminate a user's account if the user is determined to be a repeat infringer. Our designated copyright agent for notice of alleged copyright infringement appearing on the Services is:

  %p.sub.n 3taps Inc. 
  %p.sub.n Attn: Copyright Agent 
  %p.sub.n 680 Second Street, Ste. 200 
  %p.sub.n San Francisco, CA 94107 
  %p.sub.n Email: support@craiggers.com


  %p 6.4	Please note that a copy of each legal notice we receive may be forwarded to Chilling Effects (http://www.chillingeffects.org) for publication. 

  <p>7. 	<span class="u">Privacy and Your Personal Information</span></p>

  %p 7.1 	For information about 3taps's data protection practices, please read 3taps's privacy policy at http://www.3taps.org/privacy.html. This policy explains how 3taps treats your personal information, and protects your privacy, when you use the Services.

  %p 7.2 	You agree to the use of your Content in accordance with 3taps's privacy policies.

  %p 7.3	As part of providing you the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services and your 3taps account, which you may not be able to opt-out from receiving.

  <p>8.	<span class="u">Limitations of Service</span></p>

  %p 8.1	You acknowledge that 3taps may establish limits concerning use of the Service, including the maximum number of days that Content will be retained by the Service, email messages, or other Content that may be transmitted or stored by the Service, and the frequency with which you may access the Service. You agree that 3taps has no responsibility or liability for the deletion or failure to store any Content maintained or transmitted by the Service. 

  %p 8.2	You agree that 3taps, in its sole discretion, has the right (but not the obligation) to delete or deactivate your account, block your email or IP address, or otherwise terminate your access to or use of the Service (or any part thereof), immediately and without notice, and remove and discard any Content within the Service, for any reason, including, without limitation, if 3taps believes that you have acted inconsistently with the letter or spirit of the TOU. Further, you agree that craigslist shall not be liable to you or any third-party for any termination of your access to the Service.  Further, you agree not to attempt to use the Service after termination.  

  <p>9.	<span class="u">EXCLUSION OF WARRANTIES</span></p>

  %p 9.1 	NOTHING IN THESE TERMS, INCLUDING SECTIONS 9 AND 10, SHALL EXCLUDE OR LIMIT 3TAPS' WARRANTY OR LIABILITY FOR LOSSES WHICH MAY NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR CONDITIONS OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR LOSS OR DAMAGE CAUSED BY NEGLIGENCE, BREACH OF CONTRACT OR BREACH OF IMPLIED TERMS, OR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, ONLY THE LIMITATIONS WHICH ARE LAWFUL IN YOUR JURISDICTION WILL APPLY TO YOU AND OUR LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.

  %p 9.2 	YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK AND THAT THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE."  IN PARTICULAR, 3TAPS, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS DO NOT REPRESENT OR WARRANT TO YOU THAT:

  %p.sub (A) 	YOUR USE OF THE SERVICES WILL MEET YOUR REQUIREMENTS,

  %p.sub (B) 	YOUR USE OF THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR FREE FROM ERROR,

  %p.sub (C) 	ANY INFORMATION OBTAINED BY YOU AS A RESULT OF YOUR USE OF THE SERVICES WILL BE ACCURATE OR RELIABLE, AND

  %p.sub (D) 	THAT DEFECTS IN THE OPERATION OR FUNCTIONALITY OF ANY SOFTWARE PROVIDED TO YOU AS PART OF THE SERVICES WILL BE CORRECTED.

  %p 9.4 	ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICES IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR OTHER DEVICE OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.

  %p 9.5 	NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM 3TAPS OR THROUGH OR FROM THE SERVICES SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TERMS.

  %p 9.6 	3TAPS FURTHER EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.

  <p>10. 	<span class="u">LIMITATION OF LIABILITY</span></p>

  %p 10.1 	SUBJECT TO OVERALL PROVISION IN PARAGRAPH 9.1 ABOVE, YOU EXPRESSLY UNDERSTAND AND AGREE THAT 3TAPS, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS SHALL NOT BE LIABLE TO YOU FOR:

  %p.sub (A) 	ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL CONSEQUENTIAL OR EXEMPLARY DAMAGES WHICH MAY BE INCURRED BY YOU, HOWEVER CAUSED AND UNDER ANY THEORY OF LIABILITY.. THIS SHALL INCLUDE, BUT NOT BE LIMITED TO, ANY LOSS OF PROFIT (WHETHER INCURRED DIRECTLY OR INDIRECTLY), ANY LOSS OF GOODWILL OR BUSINESS REPUTATION, ANY LOSS OF DATA SUFFERED, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR OTHER INTANGIBLE LOSS;

  %p.sub (B) 	ANY LOSS OR DAMAGE WHICH MAY BE INCURRED BY YOU, INCLUDING BUT NOT LIMITED TO LOSS OR DAMAGE AS A RESULT OF:
  (I) ANY RELIANCE PLACED BY YOU ON THE COMPLETENESS, ACCURACY OR EXISTENCE OF ANY ADVERTISING, OR AS A RESULT OF ANY RELATIONSHIP OR TRANSACTION BETWEEN YOU AND ANY ADVERTISER OR SPONSOR WHOSE ADVERTISING APPEARS ON THE SERVICES; (II) ANY CHANGES WHICH 3TAPS MAY MAKE TO THE SERVICES, OR FOR ANY PERMANENT OR TEMPORARY CESSATION IN THE PROVISION OF THE SERVICES (OR ANY FEATURES WITHIN THE SERVICES); (III) THE DELETION OF, CORRUPTION OF, OR FAILURE TO STORE, ANY CONTENT AND OTHER COMMUNICATIONS DATA MAINTAINED OR TRANSMITTED BY OR THROUGH YOUR USE OF THE SERVICES; (III) YOUR FAILURE TO PROVIDE 3taps WITH ACCURATE ACCOUNT INFORMATION;
  (IV) YOUR FAILURE TO KEEP YOUR PASSWORD OR ACCOUNT DETAILS SECURE AND CONFIDENTIAL.

  %p 10.2 	THE LIMITATIONS ON 3TAPS' LIABILITY TO YOU IN PARAGRAPH 10.1 ABOVE SHALL APPLY WHETHER OR NOT 3TAPS HAS BEEN ADVISED OF OR SHOULD HAVE BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES ARISING.

  <p>11.	<span class="u">General Legal Terms</span></p>

  %p 11.1 	The Terms constitute the whole legal agreement between you and 3taps and govern your use of the Services (but excluding any services which 3taps may provide to you under a separate written agreement), and completely replace any prior agreements between you and 3taps in relation to the Services.

  %p 11.2 	You agree that 3taps may provide you with notices, including those regarding changes to the Terms, by email, regular mail, or postings on the Services. You agree that if 3taps does not exercise or enforce any legal right or remedy which is contained in the Terms (or which 3taps has the benefit of under any applicable law), this will not be taken to be a formal waiver of 3taps's rights and that those rights or remedies will still be available to 3taps.

  %p 11.3 	If any court of law, having the jurisdiction to decide on this matter, rules that any provision of these Terms is invalid, then that provision will be removed from the Terms without affecting the rest of the Terms. The remaining provisions of the Terms will continue to be valid and enforceable.

  %p 11.4 	You acknowledge and agree that each member of the group of companies of which 3taps is the parent shall be third party beneficiaries to the Terms and that such other companies shall be entitled to directly enforce, and rely upon, any provision of the Terms which confers a benefit on (or rights in favor of) them. Other than this, no other person or company shall be third party beneficiaries to the Terms.

  %p 11.5 	The Terms, and your relationship with 3taps under the Terms, shall be governed by the laws of the State of California without regard to its conflict of laws provisions. You and 3taps agree to submit to the exclusive jurisdiction of the courts located within the county of San Francisco, California to resolve any legal matter arising from the Terms. Notwithstanding this, you agree that 3taps shall still be allowed to apply for injunctive remedies (or an equivalent type of urgent legal relief) in any jurisdiction.

  %p Friday, May 6, 2011

