- content_for :title do
  Unsupported Browser

#unsupported
  Looks like you're using an unsupported browser. Craiggers is best viewed using the latest versions of&nbsp;
  %a{ :href => 'http://www.mozilla.com/en-US/firefox/new/' }> Firefox
  \,&nbsp;
  %a{ :href => 'http://www.google.com/chrome/' }> Chrome
  \, and&nbsp;
  %a{ :href => 'http://www.apple.com/safari/download/' }> Safari
  \.
  .image
    = image_tag 'firefox-chrome-safari.png'
