@import "mobile_mixins";

#user_profile {
	position: static;
	.user_data_container {
		.user_image {
			text-align: center;
		}
		
		@include option_item_container();
	}
}

.input_items_container {
	position: relative;
	margin-top: 10px;
	margin-right: 45px;
	margin-left: 5px;

	#clear_location_button {
		right: -50px;
	}

	#errors_holder {
		text-align: center;
	}

	form {
		text-align: center;

		#save_button {
			margin-top: 10px;
		}
	}
}