= form_tag('/user/change_password', { :id=>'change_password_form' })
%table
  %tr
    %td
      New password
    %td
      Confirm password
  %tr
    %td
      %input#password.textfield{ :name => 'password', :type => 'password' }
    %td
      %input#confirmation.textfield{ :name => 'confirmation', :type => 'password' }
    %td
      = submit_tag 'change', { :id => 'submit_change_password_form' }
#errors_holder
#confirmation_holder
