= form_tag('/user/change_password_request', { :id => 'change_password_request_form' })
%table
  %tr
    %td
      username
    %td
      email
  %tr
    %td
      %input.textfield{ :name => 'name', :type => 'text' }
    %td
      %input#email.textfield{ :name => 'email', :type => 'text' }
    %td
      = submit_tag 'send', { :id => 'submit_change_password_request_form' }
      %input.ok{ :value => 'ok', :type => 'button' }
#errors_holder
#confirmation_holder
