<p>Hi <%= @to %>,</p>

<p><%= @fr %> has sent you a link to a craiggers search.  To view the results of this search, click on this link: <%= raw @search %></p>

<p>- craiggers.com</p>
<%= link_to image_tag('http://craiggers.com/images/logo-small.png'), 'http://craiggers.com' %>
