#wrapper
  #datamap-wrapper.map
  .clear
  %p.credits
    Created by
    %a{ :href => 'http://www.jasondavies.com/' } Jason Davies
    using
    %a{ :href => 'http://mbostock.github.com/d3/' } D3.js
    %span> .
