= render :partial => 'components/email-popup'

#container
  #popup-dialog
    .wrapper
      .content
  #root.page
    = render :partial => 'pages/root/page'

  #search.page
    = render :partial => 'pages/search/page'

  #posting.page.grid_12.prefix_2.suffix_2